@model  List<ZMGModel.ViewModel.ALUMNI.Alumni_Model.Menu_model>


<div class="row text-center mt-4 g-3">
    @foreach (var m in Model)
    {
        <div class="col-6">
            <a href="@Url.Action(m.MenuAction, m.MenuController)" class="text-decoration-none">
                <div class="tile rounded py-3 shadow-sm">
                    <i class="@m.MenuIcon fs-1 icon-color"></i>
                    <div class="fw-bold mt-2">@m.MenuTitle</div>
                </div>
            </a>
        </div>

 
    }

    @*<div class="col-6">
        <a href="@Url.Action("Update", "Alumni")" class="text-decoration-none">
            <div class="tile rounded py-3 shadow-sm">
                <i class="bi bi-person-vcard fs-1 icon-color"></i>
                <div class="fw-bold mt-2">PROFILE</div>
            </div>
        </a>


    </div>

    <div class="col-6">
        <a href="@Url.Action("Perks", "Alumni")" class="text-decoration-none">
            <div class="tile rounded py-3 shadow-sm">
                <i class="bi bi-gem fs-1 icon-color"></i>
                <div class="fw-bold mt-2">PERKS & BENEFITS</div>
            </div>
        </a>
    </div>

    <div class="col-6">
        <a href="@Url.Action("Terms", "Alumni")" class="text-decoration-none">
            <div class="tile rounded py-3 shadow-sm">
                <i class="bi bi-file-text fs-1 icon-color"></i>
                <div class="fw-bold mt-2">TERMS & CONDITIONS</div>
            </div>
        </a>
    </div>

    <div class="col-6">
        <a href="@Url.Action("Index", "Settings")" class="text-decoration-none">
            <div class="tile rounded py-3 shadow-sm">
                <i class="bi bi-gear fs-1 icon-color"></i>
                <div class="fw-bold mt-2">SETTINGS</div>
            </div>
        </a>
    </div>*@
</div>