@model  List<ZMGModel.ViewModel.ALUMNI.Alumni_Model.Perk_model.PerkInfo_model>


@{
    ViewBag.Title = "Perks & Benifits";
}

@section Scripts{
    <script src="~/Scripts/Home.js"></script>
    <script src="~/Scripts/Perks/Perks.js"></script>
}

    <div class="container">
        <div class="perks-banner text-center mb-4">
            <h2 class="mt-4 mb-4">PERKS & BENEFITS</h2>
        </div>

        @*<button class="fab-button btn btn-danger btn-sm d-flex align-items-center gap-1" id="add-perk-btn">
            <i class="bi bi-plus-lg"></i> Add Perk
        </button>*@

        <div class="d-flex justify-content-between align-items-center mb-3">
            <!-- Add Perk Floating Button -->
            <button class="fab-button btn btn-success btn-lg rounded-circle ms-3" id="add-perk-btn" title="Add Perk">
                <i class="bi bi-plus-lg"></i>
            </button>

            @*<button class="fab-button btn btn-danger btn-sm d-flex align-items-center gap-1" id="add-perk-btn">
                <i class="bi bi-plus-lg"></i> Add Perk
            </button>*@

            <!-- Search Bar -->
            <input type="text" id="perk-search" class="form-control search-bar" placeholder="Search perks...">
        </div>



        <div class="row">
            <table class="table table-striped" id="perks-table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Perks Title</th>
                        <th scope="col">Created by</th>
                        @*<th scope="col">Date Created</th>*@
                        <th scope="col">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var perk in Model)
                    {
                        <tr>
                            <td class="fw-semibold">@perk.Title</td>
                            <td>
                                <small class="text-muted">@perk.CreatedBy</small><br />
                                <small class="text-muted">@perk.DateCreated.ToShortDateString()</small>
                            </td>

                            <td class="text-center">
                                <div class="btn-group btn-group-sm" role="group">
                                    <button class="btn btn-sm btn-secondary edit-perk-btn" guid="@perk.Guid"><i class="bi bi-pencil-square"></i></button>
                                    <button class="btn btn-sm btn-danger activate-perk-btn" @perk.ActivateProp guid="@perk.Guid"><i class="bi bi-x-circle"></i></button>
                                    <button class="btn btn-sm btn-success deactivate-perk-btn" @perk.DeactivateProp guid="@perk.Guid"><i class="bi bi-check-circle"></i></button>
                                </div>
                            </td>
                        </tr>


                    }


                </tbody>
            </table>

        </div>
    </div>

@Html.Partial("~/Views/Perks/Modal/_add_perks_modal.cshtml")
@Html.Partial("~/Views/Perks/Modal/_edit_perks_modal.cshtml")
@Html.Partial("~/Views/Perks/Modal/_activate_perks_modal.cshtml")
@Html.Partial("~/Views/Perks/Modal/_deactivate_perks_modal.cshtml")